body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
    background-color: #f1efef;
}

header {
	background-color: #f6f5f5;
	color: #000000;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #020202;
	text-decoration: none;
}

nav ul li a:hover {
	color: #eeeeee;
}

main {
	padding: 20px;
}

footer {
	background-color: #2d2d2d;
	padding: 10px;
	text-align: center;
    
}


:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffffff;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    
}

/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
}
/** Scroll Snap**/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario2 {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}
.contenedor {
    max-width: 150rem;
    margin: 0 auto;
}
.boton {
    background-color: rgb(3, 3, 3);
    color:white;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 30%;
    text-align: center;
    border: none;
}
.boton3 {
    background-color: rgb(235, 235, 235);
    color:white;
    padding: 10px 5px;
    margin-top: 3rem;
    font-size: 10px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
}
.boton2{
    background-color: rgb(92, 92, 92);
    color:rgb(0, 0, 0);
    padding: 1rem 3rem;
    justify-content: center;
    margin-right: 130px;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 60%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton2 {
        width: auto;
        
    }
}
.boton2:hover {
    cursor: pointer;
    
}
.boton3:hover{
    cursor: pointer;
}


.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}


/* Titulos */
.titulo span {
    font-size: 2rem;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    margin-left: 35%;
}

.alinear-derecha {
    margin-left: 35%;
}
.alinear-izquierda {
    margin-right: 35%;
}

/* Navegacion Principal */
.nav-bg {
    background-color: rgb(0, 0, 0);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url("/img/hero3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
    
}
.hero2 {
    background-image: url("/img/hero3.jpg");
    background-repeat: no-repeat;   
    background-size: cover;
    height: 130px;
    position: relative;
    margin-bottom: 2rem;
    
}
.contenido-hero {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero2 {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgb( 0 0 0 / 70% );
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}
.nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.row {
    display: flex;
    flex-wrap: wrap;
}
.div{
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin: 20px;
}

.producto {
    width: 25%; /* Cada producto ocupa el 25% del ancho de la fila para mostrar 4 productos por fila */
    padding: 10px;
    box-sizing: border-box;
    
}
.contenedorProductos {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .producto img {
    width: 500%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 50%;
    object-fit: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .productos-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .productos-container {
      grid-template-columns: 1fr;
    }
  }

/** Servicios **/
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.servicio p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.software{
    margin-top: 100px;
}
/** Contacto **/
.formulario {
    background-color: rgb(7, 7, 7);
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 3rem;
}
.formulario2 {
    background-color: rgb(0, 0, 134);
    width: min( 50rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    border-radius: 3rem;
}

.formulario fieldset {
    border: none;
}
.formulario2 fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: rgb(255, 255, 255);

}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

@media (min-width: 768px) {
    .contenedor-campos2 {
        
        display:inline;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 10rem ;
        column-gap: 1rem;

       
    }
    .boton3 {
        background-color: rgb(245, 245, 245);
        color:rgb(0, 0, 0);
        padding: 0.3rem 0.3rem;
        margin-top: 3rem;
        font-size: 15px;
        margin-right: 2px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: .5rem;
        width: 50%;
        text-align: center;
        border: none;
    }
        
    

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}


.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}

.input-text {
    align-items: center;
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.input-text2 {
    width: 75%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
img{
    width: 100px;
    height: 100px;
}
/** Footer **/
.footer {
    text-align: center;
}
.productos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .producto img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .producto h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .producto p {
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .productos-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .productos-container {
      grid-template-columns: 1fr;
    }
  }
  
  .contenedor {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .producto {
    width: 70%; /* Cada producto ocupa el 20% del ancho de la fila para mostrar 5 productos por fila */
    height: 70%;
    padding: 50px;
    box-sizing: border-box;
    
  }
  
  /* Estilos de ejemplo para los productos */
  .producto {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 7px;
  background-color: rgb(220, 220, 220); /* Cambia el color de fondo a tu preferencia */
    
  }
  .producto img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 15px;
  }
 
  
