/*selctor universal */

*{

    box-sizing: border-box;
}

 /* Selector de etiquetas */

 body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1ecea;
  
}

/*selector de clase*/

.texto{

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}

.img{
    height: 200PX;
    width: 200px;
    border-radius: 1px;
    padding: 5xp;
    justify-items: center;
    


 }

 .encabezado-articulo{
     
    padding: 10xp,10px;
    text-align: center;
    background-color: rgb(139, 91, 28);
    color: rgb(255, 255,255);
    margin: 1em 2rem;
    border-radius: 5xp;
    

 }

 .encabezado-anside{

    padding: 10px 10px;
    text-align: center;
    background-color: rgb(190, 120, 39);
    color: white;
    margin: 1em 2em;

 }

 .menu{

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20xp;
    padding: 0 25;
    background-color: #f1ecea;


 }

 .lista-aside{

    padding: 10xp;

 }


 
 .lista-aside li {

   display: flex; 
   text-align: center;
   font-size: 15px;
   padding: 0 2px;
   list-style: square;
    color: #000;

}

 li a {

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000;
    margin-left: 10px;
    line-height: 40px;
    margin-top: 20px;
    

}


/*selector ID*/


/*#contenedor {

    width: 900px;
    height: 1130px;
    background-color:  #653a0c;
    max-width: 0 Auto;
    border-radius: 5px;


}*/




#encabezado{

    height: 15%;
    background-color: #946114;
    margin: 1em;
    border-radius: 5xp;
    text-align: center;
    padding: 0 50px;

}
nav{

    display: flex;
    flex-direction: row;
    background-color:#8e480f  ;


}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;

}
nav a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}



section{

    flex: 55%;
    background-color: #bc8008;
    padding: 20px;

}

/*
#fueraSeccion{

    height: 800px;
    width: 35%;
    background-color: #876d36 ;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    

}*/

aside{

    flex :100px;
    background-color: #876d36 ;
    padding: 20px;
}

/*
#pie{

    height: 10%;
    background-color: #ac6413   ;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    

}*/

footer{

    padding: 20px;
    text-align:center ;
    background-color: #ac6413   ;


}


#pie h3{

    padding: 15px;
    font-size: 10px;
    
}

/* selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;
   


}
li{
    display: inline;
    padding: 10px 30px;
    margin: 2em;
    

}

li a:hover{

    color:crimson;
    text-decoration: nome;
    list-style: none;
}


.row{

    display: flex;
    flex: wrap;

}
@media screen and (max-width:700px) {


    nav,.row{

        flex-direction: column;
    }
    
    
}
