/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Set styles for the body */
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #eceaea;
  }
  
  /* Style the header */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Style the sections */
  section {
    margin-bottom: 20px;
    background-color: #f2f6d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  section label {
    font-weight: bold;
    color: #666;
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"]:focus,
  input[type="file"]:focus {
    outline: none;
    border-color: #3399ff;
    box-shadow: 0 0 5px rgba(51, 153, 255, 0.5);
  }
  
  /* Style the buttons */
  button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #060606;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #5f6073;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  /* Style the image */
  #imagen {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
 /* Estilos para la tabla de alumnos */
table#tablaAlumnos {
  
 
    width: 100%;
      
     
    border-collapse: collapse;
    }
    
    table#tablaAlumnos th, table#tablaAlumnos td {
      
     
    border: 1px solid #ccc;
      
     
    padding: 10px;
    }

    