.product-card {
    width: 280px;
    height: 250px;
    margin: 15px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FEE3B4;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .product-card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .product-card h2 {
    margin: 0;
  }
  
  .product-card h3 {
    margin: 0;
  }
  
  .product-card p {
    margin: 0;
  }
  
  .product-card .price {
    font-size: 20px;
    font-weight: bold;
  }
  
  .product-card .add-to-cart {
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .product-card .add-to-cart:hover {
    background-color: #2e6da4;
  }
  
  .product-card .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .product-card .col-4 {
    flex: 0 0 25%;
  }
  
  @media (max-width: 768px) {
    .product-card {
      width: 100%;
    }
  
    .product-card img {
      width: 100%;
      height: auto;
    }
  
    .product-card .row {
      display: flex;
      flex-direction: column;
    }
  
    .product-card .col-4 {
      flex: 0 0 100%;
    }
  }